* {
    box-sizing: border-box;
    font-family: Montserrat;
  }
  
  body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 120px;
  }
  
  .header {
    background: #101010;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 12;
  }
  
  .main-content {
    margin-top: 139px;
    padding-top: 139px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  .intro-section {
    margin-bottom: 240px;
  }
  
  h1 {
    font-size: 72px;
    line-height: 87.77px;
    font-weight: 72px;
    text-align: center;
    margin-top: 50px;
    color: #303030;
  }
  
  .trip {
    font-size: 24px;
    color: #ababaa;
    margin-bottom: 20px;
    line-height: 29.26px;
    font-weight: 700;
    font-style: Montserrat;
    margin-bottom: 80px;
  }
  
  .images-container {
    display: flex;
    justify-content: center;
    gap: 21px;
  }
  
  .images-container img {
    width: 284px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    left: 305px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
  }
  .images-container img:hover {
      transform:  scale(1.2);
  }
  .destination {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    padding: 40px;
    margin-bottom: 40px;
    margin-top: 150px;
    margin-right: 40px;
    position: relative;
  }
  
  .destination-text {
    flex: 1;
    text-align: left;
  }
  
  .destination-text h2 {
    font-size: 48px;
    font-style: Montserrat;
    font-weight: 700;
    line-height: 58.51px;
    margin-bottom: 80px;
    margin-left: 20px;
  }
  
  .tour-info {
    color: #ababab;
    margin-bottom: 20px;
    font-style: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  .destination-list {
    list-style-type: none;
  }
  
  .destination-list li {
    font-size: 16px;
    margin: 15px 0;
    font-weight: 700;
    position: relative;
    padding-left: 100px;
    line-height: 19.5px;
    color: #000000;
    font-style: Montserrat;
  }
  .timeline {
    list-style: none;
    padding: 0;
    position: relative;
    margin-right: 200px;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    border-left: 2px dotted #3b3838;
    left: 40px;
    color: #3b3838;
    margin-left: 10px;
    margin: 0 auto;
    content: "";
  }
  
  .timeline-item {
    margin-bottom: 40px;
    padding-left: 60px;
  }
  .hover-img {
    width: 692px;
    height: 845px;
    left: 551px;
    bottom: -59.8px;
    opacity: 0;
    transform: 5s ease;
    border-radius: 24px;
    z-index: 3;
    transition: opacity 0.7s ease;
    position: absolute;
    display: block;
  }
  
  .hover-div:hover {
    display: block;
    opacity: 1;
  }
  .timeline-item:hover .hover-img {
    opacity: 1;
    display: block;
  }
  .timeline-item:hover .image-container1.default {
    opacity: 0;
    display: none;
  }
  
  .timeline-marker {
    position: absolute;
    left: 13px;
    width: 56px;
    height: 56px;
    background-color: #1d1f24;
    border-radius: 50%;
    text-align: center;
    color: #16a94a;
    line-height: 20.72px;
    font-weight: 700;
    font-size: 17px;
    padding-top: 19px;
    margin-bottom: 28.7px;
  }
  
  .timeline-content {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-left: 50px;
    font-style: Montserrat;
    white-space: nowrap;
  }
  
  .timeline-location {
    font-size: 12px;
    color: #777777;
    margin-left: 50px;
    font-weight: 400;
    font-style: Montserrat;
  }
  
  .image-container1 {
    position: relative;
    display: inline-block;
    margin: auto;
    border: 24px;
  }
  .pric p {
    color: #000000;
  }
  
  .pricingg {
    background: #f4f4f4;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 240px;
    margin-top: 240px;
  }
  .pricin {
    color: #ababab;
    font-style: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .pricingg h2 {
    font-size: 48px;
    margin-bottom: 80px;
    font-style: Montserrat;
    font-weight: 700;
    line-height: 58.51px;
    text-align: center;
    color: #303030;
    padding-bottom: 30px;
  }
  
  .pricing-options {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
  }
  
  .pricing-card {
    width: 285px;
    height: 370px;
    background: #ffffff;
    padding: 40px;
    border-radius: 24px;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid white;
  }
  .pricing-card:hover {
    border: 2px solid green;
  }
  .pricing-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #303030;
    font-style: Montserrat;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
  }
  
  .pricing-card ul {
    text-align: left;
    padding-left: 0;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  
  .pricing-card ul li {
    margin: 10px 0;
    color: #777777;
    font-weight: 500;
    font-style: Montserrat;
    line-height: 24.38px;
    font-size: 20px;
  }
  .pricing-card ul li:hover {
    font-weight: bold;
  }
  .price {
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
    color: #000000;
    font-style: Montserrat;
    text-align: center;
    padding-left: 100px;
  }
  
  footer {
    background: #171717;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    height: 393px;
    padding-top: 150px;
    bottom: 150px;
    gap: 10px;
  }
  .call-to-action h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .order {
    text-decoration: none;
  }
  
  .call-to-action button {
    background: #18ba51;
    color: #fff;
    border: none;
    font-weight: 700;
    font-style: Montserrat;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 10px 20px;
    width: 130px;
    height: 44px;
    text-decoration: none;
  }
  a:link, a:visited {
      color: #fff;
      text-decoration: none;
  }
  .call-to-action button:hover {
    background-color: green;
  }
  .a .pricing-card:hover {
    cursor: pointer;
    border-color: #18ba51;
    border: 2px solid green;
  }
  
  .social-links {
    margin: 20px 0;
  }
  
  .social-links a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
  }
  .footer-black {
    background-color: #101010;
    height: 228px;
    margin: 0px;
    padding-top: 2px;
    border: #303030;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    font-style: Montserrat;
    line-height: 34.13px;
    color: #ffffff;
    padding: 60px 120px;
  }
  .custom-button {
    width: 167px;
    height: 44px;
    min-height: 44px;
    padding: 10px 20px 10px 20px;
    gap: 20px;
    border-radius: 4px;
    opacity: 1;
    border: none;
    background-color: #303030;
    color: white;
    font-size: 18px;
    font-style: Montserrat;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .custom-button:hover {
    box-shadow: 5px 5px #000000;
  }
  .facebook-logo {
    width: 24px;
    height: 24px;
  }
  .social-button {
    text-align: left;
    position: absolute;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  